<div class="sidebar-module post">
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">{{module.post_object.name}}</h6>
        </div>
            
        <div class="card-body">
            <p class="card-text">{{ module.post_object.preview.read_more('') }}</p>
            <a class="btn btn-secondary" href="{{module.post_object.link}}">Read More</a>
        </div>
    </div>
</div>