<div class="module image-band">
    <div class="row no-gutters">

        {% for image in module.image_band %}
            <div class="col-md image-band-image image-band-image-{{loop.index}}" style="background-image: url({{TimberImage(image.image).src|resize(1024,552, 'center')}});">
            </div>
        {% endfor %}

    </div>
</div>