<div class="module image">
    {% set image = TimberImage(module.image) %}
    <figure class="figure">
        <img src="{{image.src|resize('900')}}" alt="{{image.alt}}" class="figure-image">
        <figcaption class="figure-caption">{{image.caption}}</figcaption>
    </figure>
</div>