<div class="module image-band">
    <div class="row no-gutters" style="text-align: center;">

        {% for image in module.image_band %}
            <div class="col-md image-band-image-{{loop.index}}">
                <img src="{{TimberImage(image.image).src|resize(1024,400)}}" class="image-band-image">
            </div>
        {% endfor %}

    </div>
</div>