<div class="module overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{module.primary.heading}}</h1>
                <p>{{module.primary.copy}}</p>
                {% set buttons = module.primary.buttons %}
                {% if buttons %}
                    {% include 'partial/buttons.twig' %}
                {% endif %}
            </div>
            <div class="col-md-5 offset-md-1">
            {% for blurb in module.secondary.blurbs %}
                <h5>{{blurb.heading}}</h5>
                {{blurb.copy}}
            {% endfor %}
            </div>
        </div>
    </div>
</div>