<div class="module text">

    <div class="text-content">

        {% if module.heading %}
        <h2 class="text-heading">{{module.heading}}</h2>
        {% endif %}
        
        {% if module.copy %}
        {{module.copy}}
        {% endif %}

    </div>

</div>