<div class="module text-landing">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
                    <div class="w-50">
                    {{module.copy}}
                    </div>
                    <div class="text-two-col">
                    {{module.additional_copy}}
                    </div>
            </div>
        </div>
    </div>
</div>