{% extends "base.twig" %}

{% block content %}

    {% set hero = post.get_field('hero') %}
    {% set image = TimberImage(hero.image) %}
    
    {% if hero.image|length > 0 %}
        <div class="module hero-landing" style="background-image: url('{{image.src|resize(3200, 2135, 'center')}}');"></div>
    {% endif %}

    <div class="container">
        <div class="row {{hero.image|length > 0 ? 'with-hero' : 'without-hero'}}">
        
            <div class="col-md-7 modules">
                {% if title %}
					<h1 class="title">{{title}}</h1>
				{% endif %}

                {% for module in post.get_field('modules') %}
                    {% include 'partial/module.twig' %}
                {% endfor %}
            </div>

            {% if post.get_field('sidebar_modules') %}
                <div class="col-md-4 offset-md-1 sidebar-modules">
                    {% for module in post.get_field('sidebar_modules') %}
                        {% set layout = module.acf_fc_layout %}
                        {% include 'sidebar-module/'~layout~'.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}