{% extends "base.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% for module in post.get_field('modules') %}
                    {% include 'partial/module.twig' %}
                {% endfor %}
            </div>

            <div class="col-md-4 offset-md-1">
                {% for module in post.get_field('sidebar_modules') %}
                    {% include 'partial/module.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}