{% extends "base.twig" %}

{% block content %}

    {% set hero_class = 'without-hero' %}

    {% for module in post.get_field('modules') %}

        {% if module.acf_fc_layout == 'hero' %}

            {% set hero_class = 'with-hero' %}

        {% endif %}

    {% endfor %}

    <div class="{{hero_class}}">

        {% for module in post.get_field('modules') %}

            {% include 'partial/module.twig' %}

        {% endfor %}
    
    </div>

{% endblock %}