<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            <li class="list-inline-item">Address</li>
            <li class="list-inline-item">Email</li>
            <li class="list-inline-item">Phone</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-inline text-muted text-right">
            <li class="list-inline-item">{{"now"|date('Y')}} Ascension Catholic Academy</li>
            <li class="list-inline-item">Design by Saint Paul Media</li>
        </ul>
    </div>
</div>