<div class="row footer-secondary text-muted">
    <div class="col-md-6">
        <span>Copyright &copy; {{now|date('Y')}} {{site.name}}</span>
    </div>
    <div class="col-md-6 text-right">
        <span>Design by <a href="https://stpaulmedia.com" target="_blank">Saint Paul Media</a></span>
    </div>
</div>