{% if menu %}
	<ul class="list-group list-group-flush">
	{% for item in menu %}
		<li class="list-group-item {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}