<div class="sidebar-module cta">
    <div class="cta-text without-image without-link">
        <h3 class="sidebar-cta-heading">News Categories</h3>

        <ul class="sidebar-links">
            {% for item in categories %}
                <li class="sidebar-link"><a href="{{item.link}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>