{% extends "base.twig" %}

{% block content %}
	
<div class="blog-pattern">
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<span class="date">{{post.date}}</span>
			<h1 class="title">{{post.title}}</h1>
			<article class="module">
				<section class="article-content">
					<div class="article-body">
						{{post.content}}
					</div>
				</section>
			</article>
			<a class="back" href="/news"><i class="fas fa-chevron-left"></i> All Posts</a>
		</div>
		<div class="col-md-4 offset-md-1">
			{{sidebar}}
		</div>
	</div>
</div>
</div>
	
{% endblock %}