{% extends "base.twig" %}

{% block content %}
	
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<article class="module">
				<section class="article-content">
					<div class="article-body">
						{{post.content}}
						<small class="text-muted">{{post.date}}</small>
					</div>
				</section>
			</article>
		</div>
		<div class="col-md-4 offset-md-1">
			{% include 'sidebar-news.twig' %}
		</div>

	</div>
</div>
	
{% endblock %}