// .module.post-feed {
//     margin-bottom: 0;
// }

.post-feed h2 {
    @include border-bottom-salmon-partial;
}

.post-feed {
    padding: 40px 0;
}

.post-type-post {
    background-image: url('../../img/pattern_blog.png');   
}

.post-type-event {
    background-color: $pink; 
}

.post-feed.post-type-event h2 {
    color: #fff;
}

.post-type-post .feed-post { margin-bottom: 20px; }
.post-type-post .feed-post:last-child { margin-bottom: 0; }

.post-type-post .feed-post-content {
    background-color: #fff;
    border-color: $light-gray $light-gray $salmon $light-gray;
    border-style: solid;
    border-width: 1px 1px 5px 1px;
    padding: 25px 20px;
}

.feed-post-meta {
    border-bottom: 1px solid $light-gray;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 13px;
    padding-bottom: 2px;
}

.feed-post-date {
    display: inline;
}

.post-feed .feed-post-date:after {
    color: $light-gray;
    content: ' |';
}

.feed-post-categories {
    display: inline;
    font-style: italic;
    list-style: none;
    padding-left: 0;
}

.feed-post-category {
    display: inline;
}

.feed-post-category a {
    font-weight: normal;
}

.feed-post-category:after {
    content: ', ';
}

.feed-post-category:last-child:after {
    content: '';
}

.feed-post-title { margin-bottom: 10px; }

.feed-post-title a { color: inherit; }

.feed-post-excerpt {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .post-feed { padding: 50px 0; }
    .post-type-post .feed-post { margin-bottom: 30px; }
}

@media (min-width: 992px) {
    .post-type-post .feed-post:nth-last-child(-n+3) { margin-bottom: 0; }
}

.post-feed .ecs-event-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.post-feed .ecs-event {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    min-height: 1px;
    padding: 25px 20px;
    max-width: 100%;
    flex: 0 0 100%;
}

.post-feed .ecs-event:last-child {
    margin-bottom: 0;
}

.post-feed .duration {
    border-bottom: 1px solid $light-gray;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 13px;
    padding-bottom: 2px;
}

.post-feed .entry-title {
    @extend h3;
    margin-bottom: 10px;
}

.post-feed .entry-title a { color: inherit; }

.recurringinfo { display: none; }

.ecs-excerpt { margin-bottom: 0 !important; }

@media (min-width: 768px) {
    .post-feed .ecs-event {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .post-feed .ecs-event-list {
        margin-right: -15px;
        margin-left: -15px;
    }
    .post-feed .ecs-event {
        margin-right: 15px;
        margin-left: 15px;
        max-width: calc(50% - 30px);
        flex: 0 0 50%;
    }
    .post-feed .ecs-event:nth-last-child(-n+2) {
        margin-bottom: 0 !important;
    }
}