.text-content :last-child {
    margin-bottom: 0;
}

.text-content li {
    margin-bottom: 0.3rem;
}
.text-content li:last-child {
    margin-bottom: 0;
}

.text-image {
    margin-bottom: 30px;
    max-width: 100%;
}

.text-heading {
    @include border-bottom-salmon-partial;
}

@media (min-width: 992px) {
    .text-image {
        margin-bottom: 0;
    }
}