.image-band-image {
    max-width: 100%;
}

.image-band-image-1 {
    text-align: right;
}

.image-band-image-2 {
    display: none;
}

@media (min-width: 768px) {
    .image-band-image-2 {
        display: block;
        text-align: left;
    }
}