.image-band-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 213px;
}

.image-band-image-2 {
    display: none;
}

@media (min-width: 768px) {
    .image-band-image {
        height: 207px;
    }
    .image-band-image-2 {
        display: block;
    }
}

@media (min-width: 992px) {
    .image-band-image {
        height: 276px;
    }
}