.hero {
    background: url('../../img/pattern.png');
}

.hero-image {
    max-width: 100%;
}

.hero-content {
    padding: 30px 0;
    text-align: center;
}

.hero-heading {
    margin-bottom: 15px;
}

.hero-copy {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .hero-content {
        padding: 50px 0;
    }

    .hero-copy {
        font-size: 1.125rem;
        margin-bottom: 25px;
    }
}

@media (min-width: 992px) {
    .hero {
        border-bottom: 6px solid $light-gray;
    }

    .hero-content {
        padding: 80px 0;
        text-align: left;
    }
}