.sidebar-cta-image {
    margin-bottom: 25px;
    max-width: 100%;
}

.sidebar-module.cta .cta-text {
    border: 0;
    padding: 0;
}

.sidebar-cta-heading {
    @include border-bottom-salmon-full;
}