@import "bootstrap";

.module {
    margin-bottom: 60px;
}

.module:last-child {
    margin-bottom: 0;
}

.sidebar-module {
    margin-bottom: 30px;
}

.sidebar-module:last-child {
    margin-bottom: 0;
}