<div class="row module pagination">
    {% if posts.pagination.next %}
        <div class="col next">
            <a href="{{posts.pagination.next.link}}" class="{{posts.pagination.next.link|length ? '' : 'invisible'}}"><i class="fas fa-chevron-left"></i> Older</a>
        </div>
    {% endif %}

    {% if posts.pagination.prev %}
    <div class="col prev">
        <a href="{{posts.pagination.prev.link}}" class="{{posts.pagination.prev.link|length ? '' : 'invisible'}}">Newer <i class="fas fa-chevron-right"></i></a>
    </div>
    {% endif %}

    
</div>